.user-page {
    background-color: #f4f4f4;
    height: 100vh;
    padding: 20px;
}

.user-form {
    width: 400px;
}

.user-form-container {
    width: 420px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.user-button {
    margin-top: 10px;
    width: 400px;
}

.app-logo {
    margin-bottom: 5px;
}

.user-header {
    margin-bottom: 20px;
}

.user-other-container {
    width: 420px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 auto;
}
