#groups-wrapper {
    padding-top: 20px;
}

.groups-list>li {
    color: white;
    background-color: #efbd00;
    border-bottom: 3px solid #d7ac05;
}

.group-name {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.items-list>li {
    background-color: #f0f0f0;
}
