#shares-wrapper {
    padding-top: 20px;
}

#buttons-wrapper {
    margin-bottom: 10px;
}

.devices-list>li {
    color: white;
    background-color: #18af83;
    border-bottom: 3px solid #198b6a;
}

.device-name {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.device-address {
    margin-left: 20px;
    font-size: 15px;
    font-family: monospace;
    font-weight: lighter;
}

.shares-list>li {
    background-color: #f0f0f0;
}

.paths-list>li {
    overflow: hidden;
    padding: 1px 18px 1px 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
}

.path-remove {
    font-size: 10px;
}

.path-value {
    margin-left: 15px;
    font-family: monospace;
    padding: 0px 5px;
    background-color: #f0f0f0;
}
