.devices-list>li {
    color: white;
    background-color: #18af83;
    border-bottom: 3px solid #198b6a;
}

.device-address {
    margin-left: 20px;
    font-size: 15px;
    font-family: monospace;
    font-weight: lighter;
}

.shares-list>li {
    background-color: #f0f0f0;
}

.paths-list>li {
    overflow: hidden;
    padding: 1px 21px 1px 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
}

.path-remove {
    font-size: 10px;
}

.path-value {
    margin-left: 15px;
    font-family: monospace;
    padding: 0px 5px;
    background-color: #f0f0f0;
}

.cur-dev {
    display:block;
    float:right;
}

select.cur-dev {
    width: 10em;
}

label.cur-dev {
    margin:.5em;
}

.invalid {
    background: #faa !important;
}