<div class="container-fluid page-wrapper">
    <div class="alert alert-danger" role="alert" ng-if="$ctrl.error">{{ $ctrl.error }}.</div>

    <div class="buttons-wrapper">
        <button class="btn btn-primary" data-toggle="modal" data-target="#add-device-modal">Add device</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#add-share-modal">Add share</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#add-path-modal">Add path</button>
    </div>

    <ul class="devices-list control-list primary">
        <li ng-repeat-start="device in $ctrl.devices">
            <span class="device-name">{{ device.name }}</span>
            <span class="device-address">[{{ device.address }}]</span>
            <div class="flex-right">
                <span class="click glyphicon glyphicon-remove" ng-click="$ctrl.deleteDevice(device)"></span>
            </div>
        </li>
        <ul class="shares-list control-list secondary" ng-repeat-end>
            <li ng-repeat-start="share in device.shares">
                {{ share.name }}
                <div class="flex-right">
                    <span class="click glyphicon glyphicon-remove" ng-click="$ctrl.deleteShare(share)"></span>
                </div>
            </li>
            <ul class="paths-list control-list" ng-repeat-end>
                <li ng-repeat="path in share.paths">
                    <span class="path-name">{{ path.name }}</span>
                    <span class="path-value">{{ path.path }}</span>
                    <div class="flex-right path-remove">
                        <span class="click glyphicon glyphicon-remove" ng-click="$ctrl.deletePath(path)"></span>
                    </div>
                </li>
            </ul>
        </ul>
    </ul>
</div>

<div class="modal modal-centered fade" id="add-device-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">New device</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form class="form-horizontal" name="adddeviceform" novalidate>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" ng-model="$ctrl.device.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control monospaced" placeholder="ip:port"
                                        name="address" ng-model="$ctrl.device.address">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add new device</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-centered fade" id="add-share-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">New Share</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form class="form-horizontal" name="addshareform" novalidate>
                            <div class="form-group">
                                <label for="selectdevice" class="col-sm-2 control-label">Device</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="selectdevice"
                                        ng-model="$ctrl.share.device"
                                        ng-options="device.name for device in $ctrl.devices">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" ng-model="$ctrl.share.name">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add new share</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-centered fade" id="add-path-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">New path</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form class="form-horizontal" name="addpathform" novalidate>
                            <div class="form-group">
                                <label for="selectshare" class="col-sm-2 control-label">Share</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="selectshare"
                                        ng-model="$ctrl.path.share"
                                        ng-options="share.name for share in $ctrl.shares">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" ng-model="$ctrl.path.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="path" class="col-sm-2 control-label">Path</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control monospaced" name="path" ng-model="$ctrl.path.path">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add new path</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-centered fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <p>Really delete {{ $ctrl.item.type }}: <strong>{{ $ctrl.item.name }}</strong>?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
