<div class="container-fluid noselect">
    <ol class="breadcrumb breadcrumb-fix">
        <li ng-repeat="node in $ctrl.breadcrumbs">
            <a ng-click="$ctrl.goto(node);" class="click">
                {{node.name}}
                <span ng-if="!node.name" class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
        </li>
    </ol>
    <span class="filterbox">
        <input ng-model="$ctrl.filter" placeholder="filter"/>
    </span>
    <div class="alert alert-danger" role="alert" ng-if="$ctrl.error">
        {{$ctrl.error}}
    </div>
    <table class="table table-condensed table-hover">
        <tbody>
            <tr ng-click="$ctrl.goto(node);" ng-repeat="node in $ctrl.nodes">
                <td ng-if="node.isDirectory()" class="folder click">
                    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                    {{node.name}}
                </td>
                <td ng-if="node.isFile()" class="noclick">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    {{node.name}}
                </td>
                <td ng-if="node.isUser()" class="folder click">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    {{node.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
