<div class="userBrowser">
    <h1>Your friends:</h1>
    <span ng-if="$ctrl.shares.length == 0">Sorry you have no friends. Go out and ask someone to share files with you!</span>
    <details ng-repeat="owner in $ctrl.shares">
        <summary>{{owner.owner}} ({{owner.owner.shares.length}} shares)</summary>
        <div ng-repeat="share in owner.shares">
            <span>{{share.name}}</span>
            <ul>
                <li ng-repeat="path in share">
                    <span ng-click="$ctrl.open(owner.owner,share.name,path.name)">{{path.name}}</span>
                </li>
            </ul>
        </div>
    </details>
</div>


<!--<div class="container-fluid noselect">
    <ol class="breadcrumb breadcrumb-fix">
        <li ng-repeat="file in $ctrl.breadcrumbs">
            <a ng-click="$ctrl.setDir(file);" class="click">
                {{file.name}}
                <span ng-if="!file.name" class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
            </a>
        </li>
    </ol>
    <span class="filterbox">
        <input ng-model="$ctrl.filter" placeholder="filter"/>
    </span>
    <div class="alert alert-danger" role="alert" ng-if="$ctrl.error">
        {{$ctrl.error}}
    </div>
    <table class="table table-condensed table-hover">
        <tbody>
            <tr ng-click="$ctrl.setDir(file);" ng-repeat="file in $ctrl.files | filter:$ctrl.filter">
                <td ng-if="file.directory && !file.error" class="folder click">
                    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                    {{file.name}}
                </td>
                <td ng-if="!file.directory && !file.error" class="noclick">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    {{file.name}}
                </td>
                <td ng-if="file.error" class="noclick fs-error">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    {{file.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
-->