<link rel="stylesheet" type="text/css" href="components/sidebar/sidebar.css">

<div id="sidebar-wrapper">
    <ul class="sidebar-nav noselect">
        <li class="sidebar-brand">
            Fioletowe Pomarańcze
        </li>
        <li>
            <a href="components/demo/demo.html" class="active">Demo</a>
        </li>
        <li>
            <a href="components/demo2/demo2.html">Demo2</a>
        </li>
        <li>
            <a href="#">Download</a>
        </li>
        <li>
            <a href="#">Share</a>
        </li>
        <li>
            <a href="#">Users</a>
        </li>
        <li>
            <a href="#">Groups</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
    </ul>
</div>

<script src="components/sidebar/sidebar.js"></script>
