.navbar {
    border-radius: 0px;
    border: 0px;
    border-bottom: 5px solid #e7e7e7;
}

.navbar-nav>li>a, .navbar-brand {
    padding-top: 8px !important;
    padding-bottom: 0 !important;
    height: 35px;
}

.navbar {
    min-height: 35px !important;
}
