.remote-panel {
    color: white;
    background-color: #e25858;
    border-bottom: 3px solid #b53a3a;
    list-style: none;
}

.remote-panel li {
    display: inline-block;
}

.remote-panel li:not(:first-child)::before {
    content: "/";
    margin: 0px 0px 0px 7px;
}

.remote-panel a {
    color: white;
    font-size: 16px;
}

.remote-panel a:focus,
.remote-panel a:hover {
    color: #751313;
}

.file-list>li {
    background-color: #f0f0f0;
}

.breadcrumb-fix>li+li:before {
    padding: 0 0px 0 9px;
}
