<div class="container-fluid page-wrapper">
    <div class="buttons-wrapper">
        <input type="text" class="form-control" placeholder="filter" ng-model="filter">
    </div>
    <ol class="remote-panel control-panel primary">
        <li ng-repeat="node in $ctrl.breadcrumbs">
            <a ng-click="$ctrl.goto(node);" class="click">
                {{node.name}}
                <span ng-if="!node.name" class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
        </li>
    </ol>
    <div class="alert alert-danger" role="alert" ng-if="$ctrl.error">
        {{$ctrl.error}}
    </div>
    <ul class="file-list control-list secondary">
        <li ng-repeat="node in $ctrl.nodes | filter:filter">
            <span ng-click="$ctrl.goto(node);" class="click">
                <span ng-if="node.isDirectory()" class="glyphicon glyphicon-folder-close"></span>
                <span ng-if="node.isFile()" class="glyphicon glyphicon-file"></span>
                <span ng-if="node.isUser()" class="glyphicon glyphicon-user"></span>
                {{node.name}}
            </span>
        </li>
    </ul>
    <div class="loading" ng-show="$ctrl.loading">
        <img src="images/loading.gif" />
    </div>
</div>
