<div class="container-fluid noselect user-page">
    <div class="centered">
        <div class="user-form-container">
            <div class="text-center">
                <h4 class="user-header">Sign Up to <strong>Fioletowe Pomarańcze</strong></h4>
            </div>
            <form class="user-form" name="signupform" novalidate>
                <div class="alert alert-danger" role="alert" ng-if="$ctrl.error">{{ $ctrl.error }}</strong>.</div>

                <div class="form-group" ng-class="{true: 'has-error'}[signupform.$submitted && signupform.username.$invalid]">
                    <label class="control-label" for="username">Username</label>
                    <input ng-model="$ctrl.user" type="text" class="form-control"
                            name="username" ng-pattern="/^\w+$/" required />
                    <span class="help-block" ng-show="signupform.$submitted && signupform.email.$error.pattern">
                        The username can only consist of letters, numbers and underscores.
                    </span>
                </div>

                <div class="form-group" ng-class="{true: 'has-error'}[signupform.$submitted && signupform.email.$invalid]">
                    <label class="control-label" for="email">E-mail</label>
                    <input ng-model="$ctrl.mail" type="text" class="form-control"
                            name="email" placeholder="your.mail@example.com" ng-pattern="/^[\w\.]+@[\w\.]+\.\w+$/" required />
                    <span class="help-block" ng-show="signupform.$submitted && signupform.email.$error.pattern">
                        Please provide a valid e-mail address.
                    </span>
                </div>

                <div class="form-group" ng-class="{true: 'has-error'}[signupform.$submitted && signupform.password.$invalid]">
                    <label class="control-label" for="password">Password</label>
                    <input ng-model="$ctrl.pass" type="password" class="form-control"
                            name="password" placeholder="Password" required autocomplete="new-password" />
                </div>

                <div class="text-center">
                    <input type="submit" ng-click="$ctrl.reg()" class="btn btn-primary user-button" value="Sign up"></input>
                </div>
            </form>
        </div>
        <div class="user-other-container text-center">
            <strong>Already have an account?</strong>
            <a ui-sref="login">Login.</a>
        </div>
    </div>
</div>
