<div class="container-fluid noselect">
    <ol class="breadcrumb breadcrumb-fix">
        <li ng-repeat="file in $ctrl.breadcrumbs">
            <a ng-click="$ctrl.setDir(file);" class="click">
                {{file.name}}
                <span ng-if="!file.name" class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
            </a>
        </li>
    </ol>
    <div class="alert alert-danger" role="alert" ng-if="$ctrl.error">
        {{$ctrl.error}}
    </div>
    <table class="table table-condensed table-hover">
        <tbody>
            <tr ng-click="$ctrl.setDir(file);" ng-repeat="file in $ctrl.files">
                <td ng-if="file.directory && !file.error" class="folder click">
                    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                    {{file.name}}
                </td>
                <td ng-if="!file.directory && !file.error" class="noclick">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    {{file.name}}
                </td>
                <td ng-if="file.error" class="noclick fs-error">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    {{file.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
