#shares-wrapper {
    padding-top: 20px;
}

#buttons-wrapper {
    margin-bottom: 10px;
}

.flex-right {
    margin-left: auto;
}

.text-larger {
    font-size: 1.2em;
}

.control-list {
    padding-left: 0;
    list-style-type: none;
}

.control-list>li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.control-list>li.add-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.device-add-button {
    border: 2px dashed white;
    background-color: transparent;
    width: 100%;
    font-size: 1.1em;
}

.share-add-button {
    border: 2px dashed black;
    background-color: transparent;
    width: 100%;
}

.devices-list>li {
    position: relative;
    overflow: hidden;
    padding: 5px 15px;
    font-weight: bold;
    color: white;
    background-color: #18af83;
    border-bottom: 3px solid #198b6a;
}

.device-name {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.device-address {
    margin-left: 20px;
    font-size: 15px;
    font-family: monospace;
    font-weight: lighter;
}

.shares-list>li {
    overflow: hidden;
    padding: 3px 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: #f0f0f0;
}

.shares-list>li:nth-of-type(odd) {
    background-color: #fafafa;
}

.paths-list>li {
    overflow: hidden;
    padding: 3px 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
}

.path-name {
    margin-left: 5px;
}

.path-value {
    margin-left: 15px;
    font-family: monospace;
    padding: 0px 5px;
    background-color: #f0f0f0;
}
